<h3 class="bg-warning text-center p-2">Employee List</h3>
<div class="container my-3">
  <div class="d-flex justify-content-end mb-3">
    <button mat-raised-button color="primary" class="add-btn" routerLink="employee-add">Add Employee</button>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

        @if (column != 'edit' && column != 'delete') {
          @if (column.toLowerCase().includes('date')) {
            <td mat-cell *matCellDef="let emp">
              <span>{{ emp[column] | date }}</span>
            </td>
          } @else {
            <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
          }
        } @else {
          @if (column == 'edit') {
            <td mat-cell *matCellDef="let emp">
              @if (!emp.endDate) {
                <button mat-icon-button (click)="update(emp.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              }
            </td>
          } @else if (column == 'delete') {
            <td mat-cell *matCellDef="let emp">
              @if (!emp.endDate) {
                <button mat-icon-button (click)="delete(emp.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </td>
          }
        }
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </table>
  </div>
</div>